<% if current_user %>
  <%= render 'form' %>
<% else %>
  <div class='sakuhin'>サインインしてください</div>
  <div class='brand'><%= link_to 'サインイン', [ :new, :user_session ]  %></div>
  <div class='sakuhin'>ユーザ登録がお済みでなければ登録してください</div>
  <div class='brand'><%= link_to 'ユーザー登録', [ :new, :user_registration ]  %></div>
<% end %>
