<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">たてこと 縦書言葉</a>
      <div class="nav-collapse collapse">
        <span id="discription">川柳...</span>
        <span class="sakuhin"> <%= link_to('サインアウト', destroy_user_session_path, :method => :delete) if current_user %> </span>
      </div>
    </div>
  </div>
</div>
